body {
    background-color: #151919;
    margin: 0px;
    color: #ffffff;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

a {
    color: #CCD9D9;
    font-size: 16px; /* размер шрифта */
    font-weight: 400; /* жирность шрифта */
    line-height: 24px; /* величина пространства между сроками */
    text-decoration: none; /* декоративные линии к тексту */
    font-family: Lato; /* шрифт */
}
p {
    margin: 0 ;
}

a:hover {
    opacity: 0.5; /* непрозрачность элемента */
    transition: opacity 1s; /* переходное состояние между элементами */
}
a:visited {
    color: #CCD9D9;
}
label a {
font-size: 12px;
line-height: 16.8px;
color: #1C8785 !important;
}
/* tut norm */
button {
    background-color: transparent;
    border: none; /* задания стиля, толщины и цвета границы элемента */
    padding: 0; /* внутренний отступ элемента */
    cursor: pointer; /* устанавливает курсор мыши */
}
h1, h2, h3 {
    margin: 0; /* внешний отступ элемента */
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;/* устанавливает изображение, используемое в качестве маркера списка */
}

video, img {
    display: block;
    width: 100%;
}

.main-header {
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    display: flex; /* определяет тип отображения элемента, как он будет отображаться на веб-странице */
    align-items: center; /* выравнивание элементов вертикально */
    gap: 30px; /* задаёт отступы между колонками и рядами */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #151919;
}

.main-header__image {
    width: 108px;
    height: 42px;
}
.main-header__tel {
    margin-left: auto;
}

.main-header__tel-number {
    display: none;
}
.main-header__desktop-menu {
    display: none;
}
.main-header__tel-img {
    width: 22px;
    height: 22px;
}
@media screen and (min-width: 768px) {
    .main-header__tel-number {
        display: block;
    }
    .main-header__tel {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 11px;
    }
    .main-header {
        padding-left: 40px;
        padding-right: 40px;
    }
    .main-header__tel-img {
        width: 18px;
        height: 18px;
       }
}
@media screen and (min-width: 1440px) {
    .main-header__desktop {
        display: flex;
        flex-direction: row;
        gap: 28px;
        padding-left: 205.5px;
    }
    .main-header__desktop-menu {
        display: block;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: #CCD9D9;
    }   

    .main-header__button {
        display: none;
    }
   .main-header {
        padding-left: 120px;
        padding-right: 120px;
        gap: 0;
   }
   .main-header__tel {
        margin-right: 0;
   }
}
.main-header__menu {
    transform: translateY(-100%);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #151919;
    width: 100%; /* ширина элемента */
    transition: transform 1s;
    z-index: 1;
}
.main-header__menu--active {
    transform: translateY(0);
}
.main-header__menu-title {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.main-header__menu-top {
    display: flex;
    justify-content: space-between; /* выравнивание элементов горизонтально */
    padding-top: 46px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-bottom: 60px;
}
.main-header__navigation-item {
    border-bottom: 1px solid #0F3030;
    padding: 10px 0;
}
.main-header__navigation {
    padding: 0 16px;
}
@media screen and (min-width:768px) {
    .main-header__menu-title {
    font-size: 28px;
    line-height: 40.46px;
    }
    .main-header__navigation-item a {
    font-size: 20px;
    line-height: 28px;
    }
    .main-header__menu-top {
    padding-left: 40px;
    padding-right: 40px;
    }
    .main-header__navigation {
    padding-left: 40px;
    padding-right: 40px;
    }
}
.about {
    padding-bottom: 130px;
    padding-top: 155px;
    background-image: url('./images/about-background.png');
    background-repeat: no-repeat;
    background-position: right 89px;
}
h1 {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 11px;
}


.about__title-text {
    color: #1C8785;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;

}
.about__title-text-info1 {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #CCD9D9;
    margin-bottom: 235px;
    display: block;
}
.about__title-text-info2 {
    display: none;
}
.about__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    color: #ffffff;
    border: 2px solid #1C8785;
    background-color: #1C8785;
    padding: 13px 30px;
    border-radius: 3px;
    width: 100%;
}
.button:hover {
    transition: background-color 0.15s, border-color 0.15s, color 0.15s;
    background-color: #0F5756;
    border-color: #0F5756;
}

.button--theme-primary:hover {
    color: #0F5756;
    background-color: transparent;
}

.button--theme-primary {
    color: #1C8785;
    background-color: transparent;
}
@media screen and (min-width:768px) {
    .about {
        background-image: url(./images/about-background2.png);
        background-position: right 54px;
        padding-top: 126px;
        padding-bottom: 202px;
    }
    .about__actions {
        display: flex;
        flex-direction: row;
        width: 402px;
        gap: 20px;
        min-height: 50px;
    }
    .about__actions .button:first-of-type {
        width: 178px;
        padding: 10px 30px;
        font-size: 13px;
    }
    .about__actions .button:last-of-type {
        width: 204px;
        padding: 10px 30px;
        font-size: 13px;
    }
    h1 {
        font-size: 28px;
        line-height: 40.46px;
        position: relative;
    }
    .about__title-text {
        font-size: 28px;
        line-height: 40.46px;
        position: absolute;
        top: 40px;
        left: 203px;
    }
    .about__title-text-info1 {
        display: none;
    }
    .about__title-text-info2 {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: #CCD9D9;
        width: 320px;
        margin-bottom: 0;
        padding-bottom: 32px;
        display: block;
    }
}
@media screen and (min-width:1440px) {
    .about {
        background-image: url(./images/about-background3.png);
        background-position: right 24px;
        padding-top: 156px;
        padding-bottom: 284px;
    }
    h1 {
        font-size: 42px;
        line-height: 58.8px;
        width: 748px;
        margin-bottom: 20px;
    }
    .about__title-text {
        font-size: 42px;
        line-height: 58.8px;
        left: 314px;
        top: 59px;
    }
    .about__title-text-info2 {
        padding-bottom: 70px;
        font-size: 16px;
        line-height: 24px;
    }
}
.main-whatwecando {
    background: linear-gradient(90deg, #131B1B 0%, #102323 100%);
}
.main-whatwecando__work-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    min-height: 180px;
    padding-top: 33px;
    padding-bottom: 33px;
}
.main-whatwecando__work-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    width: 100%;
}
.main-whatwecando__image {
    height: 56px;
    width: 56px;
}
@media  screen and (min-width:768px) {

    .main-whatwecando__image {
        height: 80px;
        width: 80px;
    }
    .main-whatwecando__work-item {
        font-size: 14px;
        line-height: 21px;
        width: 174px;
        height: 134px;
    }
}
@media  screen and (min-width:1440px) {
    .main-whatwecando__work-list {
        padding-top: 55px;
        padding-bottom: 55px;
        justify-content: center;
        gap: 130px;
        margin-bottom: 150px;
    }
    .main-whatwecando__work-item {
        font-size: 16px;
        line-height: 24px;
        width: 204px;
        height: 140px;
    }
}
.container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 375px;
    margin-left:auto;
    margin-right: auto;
    overflow: hidden;
}
@media  screen and (min-width:768px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
        max-width: 768px;
    }
}
@media screen and (min-width:1440px) {
    .container {
        padding-left: 120px;
        padding-right: 120px;
        max-width: 1440px;
    }

}

.main-aboutproject {
    background-image:  url(./images/about-project.png);
    background-repeat: no-repeat;
    background-position: right 16px top 46px;
    padding-top: 161px;
}

.main-aboutproject__project {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.main-aboutproject__information {
    margin-bottom: 30px;
}
.main-aboutproject__project-info {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-bottom: 12px;
    color: #CCD9D9;
}
.main-aboutproject__project-info:last-of-type {
    padding-bottom: 0;
}

.main-project-video {
    margin-bottom: 133px;
}
.main-project-video__text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    padding-bottom: 20px;
}
@media screen and (min-width:768px) {
    .main-aboutproject {
        padding-top: 0;
        background-position: left 40px top 90px;
        background-size: 157px 71px;
    }
    .main-aboutproject__information {
        padding-left: 177px;
    }
    .main-aboutproject__project {
        padding-left: 207px;
        font-size: 28px;
        line-height: 40.46px;

    }
    .main-aboutproject__project-info {
        padding-bottom: 14px;
    }
    .main-project-video video {
        width: 423px;
        height: 240px;
    }
    .main-project-video {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 20px;
    }
    .main-project-video__text {
        padding-top: 30px;
        position: relative;
        height: fit-content;
        padding-bottom: 0;
    }
    .main-project-video__text::before {
        position: absolute;
        content: '';
        background-image: url(./images/videoarroy.svg);
        background-size: 90px;
        width: 90px;
        height: 90px;
        left: 42px;
        bottom: -12px;
        transform: translateY(100%);
    }
}
@media screen and (min-width:1440px) {
    .main-aboutproject {
        background-size: 349px 158px;
        background-position: left 120px top 0;
    }
    .main-aboutproject__information {
        margin-bottom: 60px;
    }
    .main-aboutproject__project {
        padding-left: 449px;
    }
    .main-aboutproject__information {
        padding-left: 409px;
    }
    .main-project-video video {
        width: 894px;
        height: 502px;
    }
    .main-project-video {
        gap: 42px;
        margin-bottom: 180px;
    }
    .main-project-video__text {
        padding-top: 120px;
        text-align: center;
    }
    .main-project-video__text::before {
        left: 0;
    }
}
.main-benefit__who:not(:last-of-type) {
    padding-bottom: 30px;
}
.main-benefit__who-buisness-men {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.12px;
    text-align: left;
    padding-left: 28px;
    position: relative;
    margin-bottom: 20px;
}
.main-benefit{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 130px;
}
.main-benefit__title {
    color: #ffffff;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 29px;
}
.main-benefit__who-buisness-men:before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background-color: #074040;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.main-benefit__text-list {
    display: flex;
    justify-content: space-between;
    gap: 16px; /* отступы */
    flex-wrap: wrap;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

}

.main-benefit__text-item {
    min-height: 137px;
    width: 163px;
    border: 2px solid #0F3030;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 8px;
    text-align: center;
    border-radius: 4px;

}
.main-benefit__text-item1 {
    min-height: 158px;
    margin-top: 8px;
}
.main-benefit__text-item:nth-of-type(3n+1){
    border: none;
    padding: 16px 10px;
    background: linear-gradient(180deg, #151C1C 0%, #054C4B 100%);
}
@media screen and (min-width:768px) {
    .main-benefit {
        padding-bottom: 140px;
    }
    .main-benefit__text-list {
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 10px;
        padding-left: 28px;
    }
    
    .main-benefit__who .main-benefit__text-item:nth-of-type(1n) {
        border: 2px solid #0F3030;
        padding: 14px 8px;
        background: none;
    }
    .main-benefit__who:nth-of-type(odd) .main-benefit__text-item:nth-of-type(odd), 
    .main-benefit__who:nth-of-type(even) .main-benefit__text-item:nth-of-type(even) {
        border: none;
        padding: 16px 10px;
        background: linear-gradient(180deg, #151C1C 0%, #054C4B 100%);
    }
    .main-benefit__text-item {
        min-height: 148px;
        width: 157px;
    }
    .main-benefit__text-item1 {
        margin-top: 0;
    }
    .main-benefit__title {
        margin-left: 30px;
        font-size: 28px;
        line-height: 40.46px;
    }
    .main-benefit__who::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: #074040;
        left: 7px;
        top: 8px;
    }
    .main-benefit__who:last-of-type::before {
        height: calc(100% - 8px);;
    }
    
    .main-benefit__who {
        position: relative;
    }
    .main-benefit__who-buisness-men {
        font-size: 22px;
        line-height: 31.79px;
    }
}
@media screen and (min-width:1440px) {
    .main-benefit {
        padding-bottom: 180px;
    }
    .main-benefit__title {
        margin-left: 40px;
    }
    .main-benefit__text-list {
        gap: 26px;
        font-size: 16px;
        line-height: 24px;
    }
    .main-benefit__text-item {
        width: 254.75px;
        height: 148px;
    }
    .main-benefit__who:not(:last-of-type) {
        padding-bottom: 40px;
    }
    .main-benefit__who-buisness-men {
        padding-left: 38px;
    }
    .main-benefit__text-list {
        padding-left: 38px;
    }
    
    
}
.calculator__title {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}
.calculator__title-info {

    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #CCD9D9;
    padding-top: 15px;

}
.calculator__list {
    display: flex;
    flex-direction: column;
}
.calculator__list-item {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.calculator__list-radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator__list-info {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;  
    text-align: left;
    color: #ffffff;
    padding-bottom: 4px;
}

.radio input {
    display: none;
}
.radio input:checked+label {
    background-color: #0F3030;
}
.radio label {
    position: relative;
    width: 100%;
    padding: 10px 14px 10px 14px;
    border-radius: 4px;
    border: 2px solid #0F3030;
    display: block;
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    transition: background-color 0.15s;
    cursor: pointer;
}

.radio--primary label {
    padding-left: 48px;
}
.radio label:hover {
    background-color: #0F3030;
}

.radio img {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    left: 16px;
}
.calculator__modules-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.select--hidden {
    display: none;
}
.select--active .select__button-img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(22%) hue-rotate(318deg) brightness(104%) contrast(107%);
    transform: rotate(90deg);
}
.select--active .select__button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #0F3030;
}
.select--active .select__options {
    display: block;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.select__button {
    transition: background-color 0.15s;
    display: flex;
    padding: 10px 14px 10px 14px;
    gap: 15px;
    border-radius: 4px;
    border: 2px solid #0F3030;
    cursor: pointer;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}
.select__button-text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;

}
.select__button-img {
    filter: brightness(0) saturate(100%) invert(17%) sepia(45%) saturate(499%) hue-rotate(131deg) brightness(87%) contrast(101%);
    transition: filter 0.15s, transform 0.15s;
    width: 18px;
    height: 24px;
}
.select__button:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(22%) hue-rotate(318deg) brightness(104%) contrast(107%);
}
.select__button:hover {
    background-color: #0F3030;
}
.select__options {
    display: none;
    padding-top: 5px;
    background-color: #0F3030;
}
.select__options-checkbox {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-left: 16px;
    padding-bottom: 15px;
}
.select__options li:last-of-type .select__options-checkbox {
    padding-bottom: 12px;
}
.calculator__modules-text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
    color: #1C8785;
    transition: color 0.15s;
}
.calculator__modules-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}
.calculator__modules-info--hidden {
    display: none;
}
.calculator__modules-info:hover p {
    color:#FFFFFF;
}
.calculator__modules-info:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(22%) hue-rotate(318deg) brightness(104%) contrast(107%);
}
.calculator__table {
    background: linear-gradient(#151C1C,#054C4B);
    padding: 25px 16px 25px 16px;
    border-radius: 4px;
    margin-top: 30px;
}
@media screen and (min-width:768px) {
    .calculator__list {
        width: 574px;
    }
    .calculator__modules-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }
    .calculator__modules-info {
        display: none;
    }
    .calculator__list .select--hidden {
        display: block;
    }
    .calculator__list-radio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }
    .calculator__title {
        font-size: 28px;
        line-height: 40.46px;
        padding-left: 30px;
        padding-bottom: 10px;
    }
    .calculator__title-info {
        padding-top: 0;
        padding-bottom: 5px;
    }
    .calculator__list-info {
        font-size: 22px;
        line-height: 31.79px;
        padding-bottom: 10px;
    }
    .calculator__list-info--primary {
        padding-bottom: 16px;
    }
    .calculator__list-item--primary {
        width: 272px;
    }
    .calculator__desktop-table {
        width: 678px;
    }
}
@media screen and (min-width:1440px) {
    .calculator__title {
        padding-left: 40px;
        padding-bottom: 15px;
    }
    .calculator__list-item {
        padding-top: 36px;
    }
    .calculator__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 39px;
    }
    .calculator__desktop {
        width: 574px;
    }
    .calculator__desktop-table {
        width: 587px;
        padding-top: 52px;
    }
}
table {
    width: 100%;
}
table caption h3 {
    text-align: left;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 5px;
}
table caption p {
    font-family: Lato;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    color: #0DCBC8;
    text-align: left;
    margin-bottom: 20px;
}
.calculator__first-column {
    min-width: 122px;
}
.calculator__first-column--primary {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
thead th {

    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #CCD9D9;
    width: 59px;
    padding: 0 4px 12px 0;

}

tbody td,
tfoot td {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    padding: 0 3px 12px 0;
}

tfoot td {
    text-align: left;
}

/*tbody tr td:first-of-type {
     стили для первого ТД внутри ТР 
    color: red;
}

tfoot tr td:first-of-type {
    стили для первого ТД внутри ТР
    color: green;
}
*/
.calculator__tfoot-summ {
    color: #0DCBC8;
}
.calculator__table-text {
font-family: Lato;
font-size: 12px;
font-weight: 400;
line-height: 16.8px;
color:#CCD9D9;

}
@media screen and (min-width:768px) {
    table caption h3 {
        font-size: 22px;
        line-height: 31.79px;
    }
    thead th {
        font-size: 14px;
        line-height: 21px;
    }
    tbody td {
        font-size: 14px;
        line-height: 21px;
    }
    tfoot td {
        font-size: 16px;
        line-height: 24px;
    }
}
.question {
    background-image: url(./images/FAQ.png);
    background-repeat: no-repeat;
    background-position: right 16px top 0;
    padding-top: 87px;
    padding-bottom: 130px;
}
.question__often {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.algorithm {
    padding-bottom: 130px;
    padding-top: 130px;
}
.algorithm__title {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.algorithm__list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}
.algorithm__text-list-item {
    max-width: 163px;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(180deg, #151C1C 0%, #054C4B 100%);
    height: fit-content;
}
.algorithm__text-list-item--primary {
    background: transparent;
    border: 2px solid #0F3030;
    max-width: 164px;
    padding: 14px;
}
.algorithm__text-list-item--primary2 {
    position: relative;
    top: -46px;
}
.algorithm__text-list-item-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Jost;
    font-size: 36px;
    font-weight: 400;
    line-height: 52.02px;
}
.algorithm__text-list-item-title--primary {
    color: #1C8785;
}
.algorithm__text-list-steps {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #CCD9D9;
}
@media screen and (min-width:768px) {
    .algorithm__text-list-item,
    .algorithm__text-list-item--primary,
    .algorithm__text-list-item--primary2 {
        min-width: 334px;
        min-height: 169px;
        padding: 20px 16px;
        height: auto;
    }
    .algorithm__text-list-item--primary,
    .algorithm__text-list-item--primary2 {
        padding: 18px 14px;
    }
    .algorithm__list {
        gap: 20px;
    }
    .algorithm__text-list-item--primary2 {
        top: 0;
    }
    .algorithm__text-list-steps {
        font-size: 16px;
        line-height: 24px;
    }
    .algorithm__title {
        padding-left: 30px;
        font-size: 28px;
        line-height: 40.46px;
    }
}
@media screen and (min-width:1440px) {
    .algorithm {
        padding-bottom: 276px;
    }
    .algorithm__title {
        padding-left: 40px;
        padding-bottom: 40px;
    }
    .algorithm__list {
        gap: 26px;
        flex-wrap: nowrap;
    }
    .algorithm__text-list-item,
    .algorithm__text-list-item--primary,
    .algorithm__text-list-item--primary2 {
        min-width: 280px;
        min-height: 169px;
        padding: 20px 16px;
    }
    .algorithm__text-list-item:last-of-type {
        position: relative;
        top: 70px;
    }
    .algorithm__text-list-item--primary{
        position: relative;
        top: 96px;
    }
    .algorithm__text-list-item--primary2 {
        position: relative;
        top: 26px;
    }
}
.question__list {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.spoiler__text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.spoiler__text--primary {
    font-family: Lato;
    font-size: 14px;
    line-height: 21px;
    color: #CCD9D9;
}
.spoiler__header {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s;
}

.spoiler__button {
    width: 28px;
    height: 28px;
    transition: background-color 0.15s;
    border-radius: 50%;
    flex-shrink: 0;
}


.spoiler__button-img {
    transition: filter 0.15s;
}
.spoiler__content {
    padding-left: 16px;
    background-color: #0F3030;
    padding-bottom: 20px;
    display: none;
}
.spoiler--active .spoiler__content {
    display: block;
}

@media (hover: hover) {
    .spoiler__header:hover {
        font-family: Lato;
        font-weight: 400;
        line-height: 24px;
        background-color: #0F3030;
    }

    .spoiler__header:hover  .spoiler__button {
        background-color: #ffffff;
    }


    .spoiler__header:hover  .spoiler__button-img {
        filter: brightness(0) saturate(100%) invert(16%) sepia(70%) saturate(326%) hue-rotate(131deg) brightness(93%) contrast(102%);
    }
}
.spoiler--active .spoiler__header {
    font-family: Lato;
    font-weight: 400;
    line-height: 24px;
    background-color: #0F3030;
}

.spoiler--active .spoiler__button {
    background-color: #ffffff;
}


.spoiler--active .spoiler__button-img{
    filter: brightness(0) saturate(100%) invert(16%) sepia(70%) saturate(326%) hue-rotate(131deg) brightness(93%) contrast(102%);
}

@media screen and (min-width:768px) {
    .question {
        padding-top: 0;
        background-position: right 40px top 90px;
        background-size: 157px 64px;
    }
    .question__list {
        width: 511px;
    }
    .question__often {
        margin-left: 30px;
        font-size: 28px;
        line-height: 40.46px;
    }
    .spoiler__text {
        font-size: 20px;
        line-height: 28px;
    }
    .spoiler__text--primary {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (min-width:1440px) {
    .question {
        padding-bottom: 180px;
        background-position: right 120px top 0;
        background-size: 246px 100px;
    }
    .question__often {
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .question__list {
        width: 894px;
    }
}
.project {
    padding-bottom: 140px;
}

.project__ready {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 145%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.project__ready-info {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #CCD9D9;
    margin-bottom: 35px;
    height: 42px;
    width: 100%;
}
.project__field {
    margin-bottom: 12px;
}
.project__checkbox {
    margin-bottom: 12px;
}
@media screen and (min-width:768px) {
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
    }
    .project__ready {
        text-align: center;
        font-size: 28px;
        width: 380px;
        min-height: 40px;
        margin-bottom: 30px;
    }
    .project__ready-info {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        width: 380px;
        min-height: 48px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width:1440px) {
    .project {
        padding-bottom: 210px;
    }
    .project__ready {
        margin-bottom: 40px;
    }
    .project__field {
        margin-bottom: 10px;
    }
    .project__checkbox {
        margin-bottom: 10px;
    }
}
.field input {
    background-color: transparent;
    padding: 0 16px;
    gap: 10px;
    border-radius: 3px;
    border: 2px solid #1C8785;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    min-height: 50px;

}
.field input:hover {
    border-color: #0F5756;
    transition: border-color 0.15s;
}
.field input:hover + label {
    color: #ffffff;
}

.field input:not(:placeholder-shown) + label,
.field input:focus + label {
    top: 7px;
    transform: translateY(0);
    font-size: 10px;
    line-height: 12px;
}

.field input:not(:focus):not(:placeholder-shown) + label {
    display: none;
}

.field input:not(:focus):not(:placeholder-shown) {
    padding-bottom: 0;
    padding-top: 0;
}

.field {
    position: relative;
}
.field input::placeholder {
    color: #ffffff;
}
.field input:not(:placeholder-shown),
.field input:focus {
    outline: none;
    padding-top: 20px;
    padding-bottom: 5px;
}
.field label {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    background-color: transparent;
    color: #CCD9D9;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: top 0.15s,  transform 0.15s, color 0.15s;
}
.field--primary {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.field--primary input {
    min-height: 36px;
    width: 121px;
    font-size: 16px;
    line-height: 24px;

}
.field--primary input:not(:placeholder-shown), .field input:focus {
    padding-top: 0;
    padding-bottom: 0;
}
.field--primary label {
    position: static;
    top: 0;
    transform: none;
    width: 71px;
    cursor: pointer;
}
.field input:hover + label {
    color: #CCD9D9;
}
.field--primary input:not(:focus):not(:placeholder-shown) + label {
    display: block;
}
.field--primary input:not(:placeholder-shown) + label, .field--primary input:focus + label {
    font-size: 14px;
    line-height: 21px;
}
.checkbox input {
    display: none;
}
.checkbox label {

    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #CCD9D9;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    display: block;

}
.checkbox label::before {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 2px solid #CCD9D9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

}
.checkbox label::after {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    background-image: url(./images/check.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.15s;
    left: 0;
}
.checkbox input:checked + label::after {
    opacity: 1;
}
.checkbox input:disabled + label::before {
    border-color: #444142;
}
.checkbox input:disabled + label::after {
    filter: brightness(0) saturate(100%) invert(24%) sepia(0%) saturate(989%) hue-rotate(68deg) brightness(87%) contrast(83%);
}
.footer__logo {
    width: 120px;
    height: 46px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.footer__about-project {
    display: flex;
    margin-bottom: 28px;
    gap: 30px;
    flex-wrap: wrap;

}
.footer__about-project-info {
    display: flex;
    flex-direction: column;
    max-width: 165px;
    gap: 12px;
}

.footer__about-project-navigation {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.footer__about-project-img-size375 {
    margin-bottom: 20px;
    display: block;
}
.footer__about-project-img-size768{
    display: none;
}
.yourtar-info {
    display: flex;
    margin-bottom: 30px;
    gap: 30px;
}
.yourtar-info-connection__title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 18px
}
.yourtar-info-connection__all {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.yourtar-info-connection__all-number-mail-tg-link {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #CCD9D9;
    padding-left: 28px;
    position: relative;

}
.yourtar-info-connection__all-number-mail-tg-text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #CCD9D9;
}
.yourtar-info-connection__all-number-mail-tg-link img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.rights {
    border-top: 2px solid #0F3030;
    margin-bottom: 20px;
}
.rights__yourtar {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rights__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.rights__info-document-connection {

    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #1C8785;
}
@media screen and (min-width:768px) {
    .footer__about-project-info {
        max-width: 157px;
    }
    .footer__logo {
        margin-bottom: 30px;
    }
    .footer__about-project-img {
        order: 4;
        padding-left: 92px;
        
    }
    .footer__about-project {
        gap: 20px;
        justify-content: flex-start;
    }
    .footer__about-project-img-size375 {
        display: none;
    }
    .footer__about-project-img-size768 {
        display: block;
        margin-bottom: 20px;
    }
    .footer__about-project-img-size768:last-of-type {
        margin-bottom: 0;
    }
    .rights {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: end;
    }
    .rights__info {
        align-items: end;
        margin-top: 20px;
    }
}
@media screen and (min-width:1440px) {
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 84px;
    }
    .footer__about-project-img {
        display: flex;
        gap: 30px;
        padding-left: 111px;
        flex-direction: row-reverse;
    }
    .footer__logo {
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer__about-project {
        margin-bottom: 38px;
    }
    .footer__about-project-info {
        max-width: 178px;
    }
    .yourtar-info-connection:first-of-type {
        padding-left: 109px;
    }
    .yourtar-info-connection:last-of-type {
        padding-left: 33px;
    }
    .rights {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .rights__yourtar {
        margin-top: 34px;
        margin-bottom: 13px;
        grid-column: 2;
    }
    .rights__info {
        grid-column: 3;
    }
}